@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

/* nav css */

.line {
    background-color: rgb(2, 34, 131);
    height: 4px;
    width: 100%;
    margin: 5px 0px;
}

input[type="checkbox"] {
    display: none;
    pointer-events: none;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.05);
    background-color: var(--color-pyorewhite);
    z-index: 23;
}

/* section-1 */

.img-brdr {
    border: none;
    border-radius: 30px;
}

.ff-poppins {
    font-family: poppins, sans-serif;
}

.nav-btn {
    border: none;
    border-radius: 50px;
    background-color: #EAEDFF;
    color: #000000;
}

.nav-btn:hover {
    background-color: #2C49FE;
    color: var(--color-pyorewhite);
    transition: 0.6s;
}

/* 3rd-section */

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
    transition: 0.8s;
}



.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -15px) rotate(45deg);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.img-3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.img-4 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.img-5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.img-6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.mw-719 {
    max-width: 719px;
}

.border-f {
    border: 2px solid #9CA1BE;
    border-radius: 50px;
    padding: 10px;
}

.input-brdr {
    border: none;
    border-radius: 5px;
    outline: none !important;
    max-width: 100%;
}

.border-2px {
    border: none;
    padding: 10px;
    background-color: #F1F2F5;
    border-radius: 0px 15px 15px 15px;
}

.mw-346 {
    max-width: 346px;
}

.f-btn {
    border: none;
    background-color: #18205C;
    color: var(--color-pyorewhite);
}

.curser {
    cursor: pointer;
}

.mw-642px {
    max-width: 642px;
}

.mw-856px {
    max-width: 856px;
}

.l-hight {
    line-height: 28.8px;
}

.l-hight {
    line-height: 24px;
}

.g-item {
    border-radius: 22px;
}

.bg_blue {
    max-width: 90px;
    padding: 13px 30px;
    background-color: rgba(45, 60, 174, 0.53);
}

.text-sm {
    max-width: 43px;
    color: var(--color-pyorewhite);
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
}

.input-baar {
    border: 2px solid #9CA1BE;
    outline: unset;
    padding: 10px;
    border-radius: 30px;
}

.input-brdr-2 {
    border: 2px solid #9CA1BE;
    outline: unset;
    padding: 10px;
    border-radius: 20px;
    height: 263px;
}

.input-btn {
    border: 2px solid #9CA1BE;
    padding: 10px;
    border-radius: 30px;

}

.select-btn {
    border: none;
    background-color: #E6E6E6;
    color: #5C5C5C;
    border-radius: 30px;
    padding: 15px 30px;
}

.select-btn:hover {
    color: var(--color-pyorewhite);
    background-color: #5C5C5C;
    transition: 0.6s;
}

.create-btn {
    border: none;
    background-color: #1F33B2;
    color: var(--color-pyorewhite);
    border-radius: 30px;
    padding: 15px 30px;
}

.create-btn:hover {
    color: var(--color-pyorewhite);
    background-color: #5C5C5C;
    transition: 0.6s;
}

.btn-input {
    border: 2px solid #2C49FE;
    padding: 12px 24px;
    border-radius: 30px;
    background-color: #2C49FE;
    color: var(--color-pyorewhite);
}

.btn-input:hover {
    color: #2C49FE;
    background-color: var(--color-pyorewhite);
    transition: 0.6s;
}

.dropdown-toggle::after {
    margin-left: 20px;
}

.txt-666666 {
    color: #666666;
}

.modal-xl {
    max-width: 1320px;
    padding-right: 12px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-toggle::after {
    margin-left: 60px;
}

.modal-content {
    border-radius: 30px;
}

.dropdown-menu {
    border: 2px solid #9CA1BE;
    border-radius: 10px;
}

.dropdown-item:hover {
    background-color: var(--color-darkgrey);
    color: var(--color-pyorewhite);
    transition: 0.6s;
}

@media (max-width:1200px) {
    .f-column {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #mobileview:checked~.nav_bar {
        left: 0;
        transition: 1s;
    }

    .nav_bar {
        justify-content: center;
        position: fixed;
        top: 0;
        right: 100%;
        left: -100%;
        margin-top: 60px;
        height: 100%;
        background-color: var(--color-pyorewhite);
        flex-direction: column;
        width: 100%;
        transition: all 0.8s linear;

    }

    .position {
        position: absolute;
    }

    .fev-icon {
        height: 60px;
        width: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-rev {
        flex-direction: column-reverse;
    }

    .img-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .img-3 {
        grid-column: 2/3;
        grid-row: 4/6;
        height: 50%;
    }

    .img-4 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .img-5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .img-6 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .f-pading {
        padding-top: 30px;
    }

}

@media (max-width:768px) {
    .flex-revers {
        flex-direction: column;
    }

    .img-5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .create-btn {
        padding: 10px 20px;
    }

    .select-btn {
        padding: 10px 20px;
    }
}

@media (max-width:576px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .img-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img-3 {
        grid-column: 1/2;
        grid-row: 3/5;
        height: 100%;
    }

    .img-4 {
        grid-column: 1/2;
        grid-row: 5/7;
    }

    .img-5 {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .img-6 {
        grid-column: 1/2;
        grid-row: 8/10;
    }

    .md-colum {
        flex-direction: column;
    }

    .mt-top {
        margin-top: 20px;
    }

    .create-btn {
        padding: 7px 15px;
    }

    .select-btn {
        padding: 7px 15px;
    }

    .f-sm-column {
        flex-direction: column;
        gap: 20px;
    }

    .align-i-smbaseline {
        align-items: baseline;
    }
}